:root{
    --hero-primary-color: #0D0221;
    --main-primary-color: #002233;
}

main{
    background-color: var(--main-primary-color);
    color: var(--text-color);
}

main .hero{
    background-color: var(--hero-primary-color);
    display: flex;
    flex-direction: column;
}

.hero .row{
    align-items:stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 2em;
    padding-right: 2em ;
    padding-top: 2em;
    padding-bottom: 2em;
}

.hero svg{
    width: 100%;
    height: 100%;
}

.hero .rounded-img{
    padding: 2em;
    padding-bottom: 0;
}

.hero img{
    align-self: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px white;
}

.hero .text{
    align-self: center;
    padding: 2em;
    padding-bottom: 0;
    font-size: 20px;
}

.hero h1{
    font-size:5em;
    background-image: linear-gradient(90deg,rgba(102, 212, 255, 1) 0%, rgba(87, 199, 133, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h2{
    font-size: 3em;
    color: #A6CFD5;
}

.hero p{
    font-size: 1.5em;
}

.hero .btn{
    padding: 1em;
    text-decoration: none;
    background-color: #36825A;
    color: white;
    border-radius: 100vh;
}

.hero a:hover{
    background-color: #1F3B2C;
    box-shadow: 0px 0px 8px 2px white;
}

.hero a:active{
    background-color: black;
}

@media screen and (max-width:1260px) {
    .hero .rounded-img{
        display: none;
    }

    .hero{
        text-align: center;
    }

    .hero h1{
        font-size: 4em;
    }

    .hero h2{
        font-size: 3em;
    }

    .hero p{
        font-size: 1.5em;
   }
    
}

@media screen and (max-width:700px){
    .hero .text{
        padding-left: 0;
        padding-right: 0;
    }

    .hero .row{
        padding-left: .5em;
        padding-right: .5em;
    }

    .hero h1{
        font-size: 3.5em;
    }

    .hero h2{
        font-size: 2em;
    }

    .hero p{
        font-size: 1em;
   }

   @media (orientation: landscape) {
        body{
            height: auto;
            width: auto;
        }
    }
}