:root{
    --nav-primary-color: #26408B;
    --nav-accent-color: #0F084B;
    --text-color: white;
}

/*Header*/
header {
    border-bottom: 1px solid var(--nav-accent-color);
    background-color: var(--nav-primary-color);
    display: flex;
    flex-direction: row;
}

header .logo{
    margin-right: auto;
}

header a{
    text-decoration: none;
    display: flex;
    color: var(--text-color);
    padding: 1em 2em;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    display: flex;
}

nav a:hover{
    background-color: var(--nav-accent-color);
}

nav a.active-link{
    border-bottom: 2px solid white;
}

header button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 1em;
    display: none;
}

#open-navbar{
    margin-left: auto;
}

#overlay{
    background: rgba(0,0,0,.25);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

nav.show ~ #overlay{
    display: block;
}


@media screen and (max-width:850px) {
    nav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        border-left: var(--nav-accent-color);
        width: min(15em, 100%);
        z-index: 10;
        transition: ease-out 300ms;
        background-color: var(--nav-primary-color);
    }

    .show{
        right: 0;
    }

    header button{
        display: block;
    }

    nav ul{
        flex-direction: column;
    }

    nav a{
        width: 100%;
        padding-left: 2.5em;
    }

    nav a.active-link{
        border: none;
    }
}
